In [ ]:
!pip3 install pandas
!pip3 install numpy
!pip3 install matplotlib
!pip3 install seaborn
!pip3 install psycopg2

# Løsningsforslag:

# Oppgave 1
I denne oppgaven skal du løse èn pythonoppgave uten å bruke noen hjelpemidler.
a). Kan du finne ut henholdsvis hvor mange tall, små og store- bokstaver det finnes i denne tekst-variabelen?
Lag en funksjon som tar strengen som input, og returnerer de tre variablene: antall_tall, antall_småbokstaver og antall_storebokstaver

In [6]:
tekstvariabel = "1u3u5b1bu35ho10ææ+0138a0v25246246mvm2mv60108145u8v08<z0827n0vz00tjjjtjt#$%#%//#%(&))==```??==(&)#)&)#)%&==$%)134136247sh($(%$/&$ghgam6m6m7m09f7u3k1nghg9113h1h13r813h7tuqt3u3e3dc03fjq3uq3hr3togmerain31h3hh3thqh313n931%/)==$!#$!#z35136!&61616b146b1bnp1i4nbp61ib4n6p1ihxp14i61x4ph614ihx6p14xh6p1h9xp146x1hxhxhhpxhihcwpkyrbpu14ougcp194yh1+94hy2084hclqcu4ihtc1084htc14081hcto1j4hct1ou4ht1o48ty0184hco14uht1kj4thk1jp9c1p48tho14uth1k4uygy1o047t1048th1p4thx1p49thx1048th1p4ith1l4ithco14ijx1p49tj104t8j1+48t1+u48570184yxo46jx1pi4jl14jh5k1x4gn14v6k1u4hy6p1u48061048y61xo4u6gxk1h4g6bcm14b6c14oi6uup1480x6ho1048yx646!$&!VJ&O$!&!$v61$&V!$OP6cjk1XOJ1$O&J!#AEGKQEGQÅÆQØRPQRKGwrhjqrhjjh82j8q5v6#%&V/vb"

In [20]:
# Count the number of numbers in the string "tekstvariabel":


def countnumbers_function(tekstvariabel):
    counter_digit, counter_lower, counter_upper = 0,0,0
    for i in tekstvariabel:
        if i.isupper():
            counter_upper+=1
        elif i.islower():
            counter_lower+=1
        elif i.isdigit():
            counter_digit+=1


    return counter_digit, counter_lower, counter_upper

countnumbers_function(tekstvariabel)

(272, 297, 30)

# Oppgave 2 - Data Prosessering
I denne oppgaven skal du svare på noen spørsmål og løse noen oppgaver:
a). Hva er json?
b). Hva er en dataframe?
c). Flate ut json-strukturen i nesten_json.json og lagre den i en dataframe
d). "Eksplodere"* ut dataframen der hvor det befinner seg listestrukturer og lage nye kolonner av disse listeformaterte feltene.
*Eksplodere: Transformere hvert element i en listelignende struktur til en rad, ved da å replikere index-verdiene
e). Lagre dataframen som en parquet-fil
f). Aggreger opp slik at det er en rad per id, topping og batter skal bare være representert som en sum av antall batters og toppings

In [23]:
# Function that reads a json file and puts it into a variable
import json
def read_json_file(file_name):
    with open(file_name) as json_file:
        data = json.load(json_file)
    return data

In [24]:
unflat_json= read_json_file("nested_json.json")

In [25]:
#Function that flattens json and returns a dataframe with the flattened json
import pandas as pd
def flatten_json(unflat_json):
    flat_json_df = pd.json_normalize(unflat_json)
    return flat_json_df

In [26]:
#

def remove_topping_batter_columns(flat_json):
    flat_json = flat_json.explode('topping')
    flat_json = flat_json.explode('batters.batter')
    flat_json['topping_id'] = flat_json['topping'].apply(lambda x: x['id'])
    flat_json['topping_type'] = flat_json['topping'].apply(lambda x: x['type'])
    flat_json['batter_id'] = flat_json['batters.batter'].apply(lambda x: x['id'])
    flat_json['batter_type'] = flat_json['batters.batter'].apply(lambda x: x['type'])
    flat_json = flat_json.drop(columns=['topping', 'batters.batter'])
    return flat_json

flat_json = remove_topping_batter_columns(flatten_json(unflat_json))
flat_json

,id,type,name,ppu,topping_id,topping_type,batter_id,batter_type
0,0001,donut,Cake,0.55,5001,None,1001,Regular
0,0001,donut,Cake,0.55,5001,None,1002,Chocolate
0,0001,donut,Cake,0.55,5001,None,1003,Blueberry
0,0001,donut,Cake,0.55,5001,None,1004,Devil's Food
0,0001,donut,Cake,0.55,5002,Glazed,1001,Regular
0,0001,donut,Cake,0.55,5002,Glazed,1002,Chocolate
0,0001,donut,Cake,0.55,5002,Glazed,1003,Blueberry
0,0001,donut,Cake,0.55,5002,Glazed,1004,Devil's Food
0,0001,donut,Cake,0.55,5005,Sugar,1001,Regular
0,0001,donut,Cake,0.55,5005,Sugar,1002,Chocolate
0,0001,donut,Cake,0.55,5005,Sugar,1003,Blueberry
0,0001,donut,Cake,0.55,5005,Sugar,1004,Devil's Food
0,0001,donut,Cake,0.55,5007,Powdered Sugar,1001,Regular
0,0001,donut,Cake,0.55,5007,Powdered Sugar,1002,Chocolate
0,0001,donut,Cake,0.55,5007,Powdered Sugar,1003,Blueberry
0,0001,donut,Cake,0.55,5007,Powdered Sugar,1004,Devil's Food
0,0001,donut,Cake,0.55,5006,Chocolate with Sprinkles,1001,Regular
0,0001,donut,Cake,0.55,5006,Chocolate with Sprinkles,1002,Chocolate
0,0001,donut,Cake,0.55,5006,Chocolate with Sprinkles,1003,Blueberry
0,0001,donut,Cake,0.55,5006,Chocolate with Sprinkles,1004,Devil's Food
0,0001,donut,Cake,0.55,5003,Chocolate,1001,Regular
0,0001,donut,Cake,0.55,5003,Chocolate,1002,Chocolate
0,0001,donut,Cake,0.55,5003,Chocolate,1003,Blueberry
0,0001,donut,Cake,0.55,5003,Chocolate,1004,Devil's Food
0,0001,donut,Cake,0.55,5004,Maple,1001,Regular
0,0001,donut,Cake,0.55,5004,Maple,1002,Chocolate
0,0001,donut,Cake,0.55,5004,Maple,1003,Blueberry
0,0001,donut,Cake,0.55,5004,Maple,1004,Devil's Food
1,0002,donut,Raised,0.55,5001,None,1001,Regular
1,0002,donut,Raised,0.55,5002,Glazed,1001,Regular
1,0002,donut,Raised,0.55,5005,Sugar,1001,Regular
1,0002,donut,Raised,0.55,5003,Chocolate,1001,Regular
1,0002,donut,Raised,0.55,5004,Maple,1001,Regular
2,0003,donut,Old Fashioned,0.55,5001,None,1001,Regular
2,0003,donut,Old Fashioned,0.55,5001,None,1002,Chocolate
2,0003,donut,Old Fashioned,0.55,5002,Glazed,1001,Regular
2,0003,donut,Old Fashioned,0.55,5002,Glazed,1002,Chocolate
2,0003,donut,Old Fashioned,0.55,5003,Chocolate,1001,Regular
2,0003,donut,Old Fashioned,0.55,5003,Chocolate,1002,Chocolate
2,0003,donut,Old Fashioned,0.55,5004,Maple,1001,Regular
2,0003,donut,Old Fashioned,0.55,5004,Maple,1002,Chocolate

In [27]:
# # Sae the new dataframe to a fitting file format

flat_json.to_csv('flat_json.csv', index=False)
# Or save to parquet type:
flat_json.to_parquet('flat_json.parquet', index=False)

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.